<div class="container">
  <header>
    <app-back />
    <app-button
      [label]="'Edit Feedback'"
      [color]="'#4661E6'"
      [routerLink]="['/feedback/edit', feedback.id]"
    />
  </header>

  <app-feedback [request]="feedback" />

  <div *ngIf="feedback.comments" class="comments">
    <h3>{{ numberOfComments }} Comments</h3>
    <app-comment
      *ngFor="let comment of feedback.comments; let index = index"
      [comment]="comment"
      [hasSeparator]="
        index !== (feedback.comments ? feedback.comments.length : 0) - 1
      "
    />
  </div>

  <footer class="comments">
    <h3>Add Comment</h3>

    <textarea
      maxlength="250"
      placeholder="Type your comment here"
      (keyup)="handleTextChange($event)"
      [value]="text"
    ></textarea>

    <div class="footer-row">
      <p class="characters">{{ 250 - text.length }} Characters left</p>
      <app-button [label]="'Post Comment'" (click)="comment()" />
    </div>
  </footer>
</div>
