<div class="container">
  <header>
    <app-back />
    <app-button [label]="'Edit Feedback'" [color]="'#4661E6'" />
  </header>

  <app-feedback [request]="feedback" />

  <div class="comments">
    <h3>{{ feedback.comments ? feedback.comments.length : 0 }} Comments</h3>
    <app-comment
      *ngFor="let comment of feedback.comments; let index = index"
      [comment]="comment"
      [hasSeparator]="
        index !== (feedback.comments ? feedback.comments.length : 0) - 1
      "
    />
  </div>
</div>
