<div>
  <div class="container">
    <div>
      <img class="avatar" [attr.src]="comment.user.image" />
      <div class="trail" *ngIf="!!comment.replies"></div>
    </div>

    <div class="inner-content">
      <div class="header">
        <div class="title">
          <h4>{{ comment.user.name }}</h4>
          <p class="username">@{{ comment.user.username }}</p>
        </div>

        <p class="reply">Reply</p>
      </div>

      <p class="description">
        {{ comment.content }}
      </p>

      <app-comment *ngIf="!!comment.replies" [comment]="comment.replies[0]" />
    </div>
  </div>

  <hr *ngIf="hasSeparator" />
</div>
