<div class="wrapper">
  <div class="container">
    <div class="avatar"></div>

    <div class="inner-content">
      <div class="header">
        <div class="title">
          <h4>Elijah Moss</h4>
          <p class="username">@hexagon.bestagon</p>
        </div>

        <p class="reply">Reply</p>
      </div>

      <p class="description">
        Also, please allow styles to be applied based on system preferences. I
        would love to be able to browse Frontend Mentor in the evening after my
        device’s dark mode turns on without the bright background it currently
        has.
      </p>
    </div>
  </div>

  <hr />
</div>
