<div class="container">
  <header>
    <app-back />
  </header>

  <div class="main-content">
    <img
      class="new-feedback"
      src="../../../assets/shared/icon-new-feedback.svg"
      alt="An plus icon referencing to create a new feedback"
    />
    <h1>Create New Feedback</h1>

    <app-create-feedback-form>
      <footer>
        <app-button [label]="'Cancel'" [color]="'#3A4374'"></app-button>
        <app-button [label]="'Add Feedback'" [type]="'submit'"></app-button>
      </footer>
    </app-create-feedback-form>
  </div>
</div>
