@import 'src/styles'

.container
    display: flex
    flex-direction: column
    gap: 4.25rem

.main-content
    padding: 2.5rem 2.625rem
    background-color: $white
    border-radius: 10px
    position: relative

.new-feedback
    position: absolute
    top: -1.8rem

footer
    display: flex
    justify-content: flex-end
    margin-top: 2rem
    gap: 1rem
