@import 'src/styles'

button
    width: 10rem
    height: 2.75rem
    color: $button-label
    font-size: 0.9rem
    font-weight: 700
    line-height: normal
    border: none
    border-radius: 10px
    cursor: pointer
