@import 'src/styles'

button
    width: 10rem
    height: 2.75rem
    border: none
    border-radius: 10px
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center

p
    color: $button-label
    font-size: 14px
    font-weight: 600
    line-height: normal
    font-family: Jost
