aside
    display: flex
    flex-direction: column
    gap: 1.5rem

.menu-header
    width: 16rem
    height: 8.56rem
    background-image: url(../../../assets/suggestions/desktop/background-header.png)
    background-repeat: no-repeat
    border: none
    border-radius: 10px
    padding: 1.5rem
